{
	"printWidth": 86,
	"singleQuote": true,
	"trailingComma": "es5",
	"useTabs": true,
	"overrides": [
		{
			"files": "src/assets/scss/**/**/*.scss",
			"options": {
				"singleQuote": false,
				"trailingComma": "none"
			}
		}
	]
}